form {
    margin-top: 20px;
}

input[type="file"] {
    display: none;
    /* Hide the default input */
    padding: 10px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    /* Add some vertical spacing */
}

.custom-file-upload {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #444;
}

button[type="button"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #444;
}

/* Add a class for highlighting */
.highlight {
    background-color: yellow;
    /* You can choose any highlight color */
}

.image-section {
    text-align: center;
    margin-top: 20px;
    display: none; /* Hide initially */
}

.predictions-section {
    text-align: center;
    margin-top: 20px;
    display: none; /* Hide initially */
}

/* ... (other styles) ... */

img {
    max-width: 50%;
    /* Set maximum width for the image */
    height: auto;
    /* Maintain the aspect ratio of the image */
    margin-top: 20px;
    /* Add some spacing below the image */
}

/* Additional styles for app description */
.app-description {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.upload-helper {
    background-color: #f7f7f7; /* Light gray background */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Rounded corners */
    padding: 20px;
    text-align: left; /* Left-align text */
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table th,
table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #333;
    color: #fff;
}

table td {
    background-color: #f4f4f4;
    color: #333;
}
.note {
    background-color: #f5f5f529;
    border-left: 4px solid #55e6a5;
    padding-top: 5px;
    margin-top: 10px;
    padding-bottom: 15px;
}
.status-note{
    background-color: #f5f5f529;
    border: 2px solid #55e6a5;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}